// BOOTSTRAP

@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/normalize"

@import "wp-core"

@import "bootstrap/utilities"
@import "bootstrap/scaffolding"
@import "bootstrap/grid"
@import "bootstrap/tables"
@import "bootstrap/modals"
@import "bootstrap/responsive-utilities"
@import "bootstrap/responsive-embed"

// *BOOTSTRAP


// BASE

@import "variables"
@import "tools"
@import "trumps"
@import "base"
@import "generic"
@import "objects"

// *BASE
