/*

# Tools

- It's the place that you will write your mixins and functions needed to build your layouts.
- Could be anything, since font-face mixins, until animations and etc...
- Nothing here will genereta final CSS too.

*/

font-title()
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  text-transform: uppercase;

font-title-regular()
  font-family: 'Roboto',sans-serif;
  font-weight: 300;

font-regular()
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
