// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

// Colors of Visual Identity

$visual-identity-01 = $black

// Basic Colors
$black = #000
$white = #fff
